@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Overpass", sans-serif;
}
body {
  background-color: #ffffff;
}
h1,
h2 {
  color: #203c70;
  margin-bottom: -8px;
}
label {
  font-size: 20px;
}
input {
  background-color: #e6efff !important;
}
#btnCalcular {
  background-color: #ef4723;
}
#btnCalcular:hover {
  background-color: #ef4823e3;
}
.btn-link {
  color: #0220a3;
}
.icons {
  margin-top: -20px;
  font-size: 30px;
}
.icons:hover {
  opacity: 80%;
}
